https://github.com/nltk/nltk3-alpha/blob/gh-pages/nltk-3.0a0.tar.gz?raw=true
git+git://github.com/django/django.git@stable/1.5.x
git+git://github.com/rafales/django-discover-runner.git@9e923edf1107c2541dc2e1ee1c680530e527c8a9